---
import Code from '@shortcodes/Code.astro'

interface Props {
  name: string
}

const { name } = Astro.props
---

<p>
  Закрытие может быть достигнуто с помощью атрибута <code>data-bs-dismiss</code> на кнопке <strong>внутри {name}</strong>, как показано ниже:
</p>

<Code
  code={`<button type="button" class="btn-close" data-bs-dismiss="${name}" aria-label="Close"></button>`}
  lang="html"
/>

<p>
  или на кнопке <strong>вне {name}</strong> с использованием дополнительного <code>data-bs-target</code>, как показано ниже:
</p>

<Code
  code={`<button type="button" class="btn-close" data-bs-dismiss="${name}" data-bs-target="#my-${name}" aria-label="Close"></button>`}
  lang="html"
/>
